title: Cell Phone Interaction Design
thumbnail: /static/images/cell-phone-interface-design-assets/01.jpg
tags: Interaction Design, User Interaction Design, Motion Graphics 
date: 12-04-2010

{% extends "post.html" %}
{% block body %}
{% filter markdown %}
<img class="featured 2x" src="{% static '/images/cell-phone-interface-design-assets/02.jpg' %}"/>
	<iframe class="vimeo-player" src="//player.vimeo.com/video/18282544" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<img class="featured 2x" src="{% static '/images/cell-phone-interface-design-assets/03.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cell-phone-interface-design-assets/04.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cell-phone-interface-design-assets/05.jpg' %}"/>
{% endfilter %}
{% endblock body %}