title: Data Journalism Tool
thumbnail: /static/images/data-journalism-ux-assets/01.jpg
tags: UX Design, Wireframes
date: 01-01-2016

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<img class="featured 2x" src="{% static '/images/data-journalism-ux-assets/07.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/data-journalism-ux-assets/06.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/data-journalism-ux-assets/09.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/data-journalism-ux-assets/05.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/data-journalism-ux-assets/02.jpg' %}"/>




{% endfilter %}
{% endblock body %}
