title:March March Madness Microphone Flags
thumbnail: /static/images/mic-flags-assets/01.jpg
tags: Broadcast Design, Print Design, Branding
date: 10-03-2011

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<img class="featured 2x" src="{% static '/images/mic-flags-assets/02.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/mic-flags-assets/03.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/mic-flags-assets/04.jpg' %}"/>


{% endfilter %}
{% endblock body %}