title: T-Shirt Designs
thumbnail: /static/images/tee-shirt-designs-assets/01.jpg
tags: Print Design, Apparel, Logo
date: 1-12-2010

{% extends "post.html" %}
{% block body %}
{% filter markdown %}
<img class="featured 2x" src="{% static '/images/tee-shirt-designs-assets/05.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/tee-shirt-designs-assets/06.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/tee-shirt-designs-assets/07.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/tee-shirt-designs-assets/03.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/tee-shirt-designs-assets/04.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/tee-shirt-designs-assets/02.jpg' %}"/>

{% endfilter %}
{% endblock body %}