title: The Wave Light
thumbnail: /static/images/lighting-design-assets/01.jpg
tags: Image
date: 23-09-2010

{% extends "post.html" %}
{% block body %}
{% filter markdown %}
<img class="featured 2x" src="{% static '/images/lighting-design-assets/02.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/lighting-design-assets/03.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/lighting-design-assets/04.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/lighting-design-assets/05.jpg' %}"/>

{% endfilter %}
{% endblock body %}