title: Wedding Correspondence 
thumbnail: /static/images/my-wedding-assets/01.jpg
tags: Print Design, Wedding Invitations, Letter Press, Web Design 
date: 24-05-2014

{% extends "post.html" %}
{% block body %}
{% filter markdown %}
<img class="featured 2x" src="{% static '/images/my-wedding-assets/02.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/my-wedding-assets/08.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/my-wedding-assets/04.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/my-wedding-assets/10.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/my-wedding-assets/12.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/my-wedding-assets/15.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/my-wedding-assets/18.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/my-wedding-assets/23.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/my-wedding-assets/25.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/my-wedding-assets/28.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/my-wedding-assets/34.jpg' %}"/>
<a href='http://garnerharvardwedding.com/' target="_blank"><img id="exit-link" class="featured 2x" src="{% static '/images/my-wedding-assets/101.jpg' %}"/></a>
<a href='http://garnerharvardwedding.com/planning-your-trip.html' target="_blank"><img id="exit-link" class="featured 2x" src="{% static '/images/my-wedding-assets/102.jpg' %}"/></a>
{% endfilter %}
{% endblock body %}