title: Wedding Print Design
thumbnail: /static/images/wedding-print-design-for-molly-and-ty-assets/01.jpg
tags: Wedding, Print Design
date: 1-06-2010

{% extends "post.html" %}
{% block body %}
{% filter markdown %}
<img class="featured 2x" src="{% static '/images/wedding-print-design-for-molly-and-ty-assets/02.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/wedding-print-design-for-molly-and-ty-assets/03.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/wedding-print-design-for-molly-and-ty-assets/04.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/wedding-print-design-for-molly-and-ty-assets/05.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/wedding-print-design-for-molly-and-ty-assets/06.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/wedding-print-design-for-molly-and-ty-assets/07.jpg' %}"/>
{% endfilter %}
{% endblock body %}