title: Wellness Company Rebrand
thumbnail: /static/images/8ight-rebrand-assets/01.jpg
tags: Branding, Graphic Design, Logo
date: 1-11-2009

{% extends "post.html" %}
{% block body %}
{% filter markdown %}
<img class="featured 2x" src="{% static '/images/8ight-rebrand-assets/02.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/8ight-rebrand-assets/03.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/8ight-rebrand-assets/04.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/8ight-rebrand-assets/05.jpg' %}"/>
{% endfilter %}
{% endblock body %}