---
title: Andrew Harvard
description: Senior UX Engineer/Interaction Designer hybrid. Enjoys writing modern CSS, accessible HTML, and vanilla JS.
---

{% set css %}
{% include "./style.css" %}
{% endset %}

{% set js %}
{% include "./script.js" %}
{% endset %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name={{description}}/>
    <title>{{title}}</title>
    <style>
      {{css | cssmin | safe}}
    </style>
    <title>{{ title }}</title>
  </head>
  <body>
    <main>
      {{ content | safe }}
      {% include "paritals/my-recent-project.njk" %}
    </main>
    <footer>
      <p>This website is built with 11ty and hosted on Netlify. &#169; <span id="footer-date">0000</span> Andrew Harvard.</p>
    </footer>
    <script>
      {{ js | jsmin | safe }}
    </script>
  </body>

</html>