---
title: Andrew Harvard
---

{% set css %}
{% include "./style.css" %}
{% endset %}

{% set js %}
{% include "./script.js" %}
{% endset %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>
    <style>
      {{css | cssmin | safe}}
    </style>
    <title>{{ title }}</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
    </nav>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <p>&#169; <span id="footer-date">0000</span> Andrew Harvard. All rights reserved.</p>
    </footer>
    <script>
      {{ js | jsmin | safe }}
    </script>
  </body>

</html>