---
layout: baselayout.njk
showHeaderName: true
minHeight: auto
---

{% import "../_includes/partials/hero.njk" as heroMacro %}
{{heroMacro.hero(heading = title, blurb="<span>date</span>")}}

<div class="site-container">
  <div class="page-body" style="--page-body-min-height:{{minHeight}}">
    {{ content | safe }}
  </div>
</div>