html {
  /* VARs */
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #e0e0e0;
  --gray-400: #bdbdbd;
  --gray-500: #9e9e9e;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;
  --black: #111;
  --site-width: 700px;
}

body.light {
  --background-color: var(--gray-100);
  --button-color: white;
  --button-hover-color: var(--gray-200);
  --button-text: var(--gray-800);
  --text-color: var(--gray-800);
  --interactive-text-color: var(--gray-800);
  --interactive-text-hover-color: var(--gray-900);
}
body.dark {
  --background-color: var(--gray-900);
  --button-color: var(--black);
  --button-hover-color: var(--gray-800);
  --button-text: var(--gray-400);
  --text-color: var(--gray-400);
  --interactive-text-color: var(--gray-400);
  --interactive-text-hover-color: var(--gray-100);
}
@media (prefers-color-scheme: dark) {
  body {
    --background-color: var(--gray-900);
    --button-color: var(--gray-100);
    --button-hover-color: var(--gray-800);
    --text-color: var(--gray-400);
    --interactive-text-color: var(--gray-400);
    --interactive-text-hover-color: var(--gray-100);
  }
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  max-width: var(--site-width);
  padding: 30px;
  margin: 1vw auto 0;
}

* {
  transition: all 250ms ease;
}

h1 {
  letter-spacing: -0.5px;
}

p {
  letter-spacing: 0.5px;
  line-height: 1.75;
}

footer {
  margin-top: 50px;
}

footer p {
  font-size: 12px;
}
.button,
button {
  background: var(--button-color);
  border-radius: 5px;
  border: none;
  color: var(--button-text);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
}

.button:hover,
.button:focus,
button:hover,
button:focus {
  color: var(--button-text);
  background: var(--button-hover-color);
}

a {
  color: var(--interactive-text-color);
  text-decoration-thickness: 2px;
}
a:hover,
a:focus {
  color: var(--interactive-text-hover-color);
}

a.button {
  text-decoration: none;
}

.recent-project {
  border: 2px solid currentColor;
  padding: 24px 30px;
  border-radius: 10px;
  margin: 50px 0;
  position: relative;
  background: var(--background-color);
}

.recent-project::before {
  content: '';
  height: 100%;
  width: 100%;
  top: 15px;
  left: 15px;
  right: 0;
  bottom: 0;
  background: currentColor;
  display: block;
  position: absolute;
  z-index: -1;
  border-radius: inherit;
  transition: all 500ms ease;
}

.recent-project:focus-within::before,
.recent-project:hover::before {
  transform: translate3d(-5px, -5px, 0);
}

.recent-project__heading {
  margin-top: 0;
}

.recent-project__eyebrow {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
