title: Simpeo Components
thumbnail:/static/images/simpeo-components/thumb.jpg
tags: UX Design, UI Design,React, Front-end Dev
date: 11-1-2018
{% extends "post.html" %} {% block body %} {% filter markdown %}

<!-- Marketing Site -->
<div class="video-wrapper">
  <iframe
    src="https://player.vimeo.com/video/312113104?muted=1&loop=1"
    width="1152"
    height="648"
    frameborder="0"
    webkitAllowFullScreen
    mozallowfullscreen
    allowFullScreen
  ></iframe>
</div>

<!-- Button -->
<div class="video-wrapper">
  <iframe
    src="https://player.vimeo.com/video/312123717?muted=1&loop=1"
    width="1152"
    height="648"
    frameborder="0"
    webkitAllowFullScreen
    mozallowfullscreen
    allowFullScreen
  ></iframe>
</div>

<!-- Expanding Card -->
<div class="video-wrapper">
  <iframe
    src="https://player.vimeo.com/video/312123704?muted=1&loop=1"
    width="1152"
    height="648"
    frameborder="0"
    webkitAllowFullScreen
    mozallowfullscreen
    allowFullScreen
  ></iframe>
</div>

<!-- Footer -->
<div class="video-wrapper">
  <iframe
    src="https://player.vimeo.com/video/312123693?muted=1&loop=1"
    width="1152"
    height="648"
    frameborder="0"
    webkitAllowFullScreen
    mozallowfullscreen
    allowFullScreen
  ></iframe>
</div>

<!-- Header -->
<div class="video-wrapper">
  <iframe
    src="https://player.vimeo.com/video/312123688?muted=1&loop=1"
    width="1152"
    height="648"
    frameborder="0"
    webkitAllowFullScreen
    mozallowfullscreen
    allowFullScreen
  ></iframe>
</div>

<!-- Logo -->
<div class="video-wrapper">
  <iframe
    src="https://player.vimeo.com/video/312123672?muted=1&loop=1"
    width="1152"
    height="648"
    frameborder="0"
    webkitAllowFullScreen
    mozallowfullscreen
    allowFullScreen
  ></iframe>
</div>

<!-- SiteSection -->
<div class="video-wrapper">
  <iframe
    src="https://player.vimeo.com/video/312123661?muted=1&loop=1"
    width="1152"
    height="648"
    frameborder="0"
    webkitAllowFullScreen
    mozallowfullscreen
    allowFullScreen
  ></iframe>
</div>

<!-- Toggle -->
<div class="video-wrapper">
  <iframe
    src="https://player.vimeo.com/video/312123649?muted=1&loop=1"
    width="1152"
    height="648"
    frameborder="0"
    webkitAllowFullScreen
    mozallowfullscreen
    allowFullScreen
  ></iframe>
</div>


{% endfilter %} {% endblock body %}
