title: Typography and Information Design
thumbnail: /static/images/typography-and-information-design-assets/01.jpg
tags: Swiss Design, Information Design, Savannah College of Art and Design 
date: 01-03-2011

{% extends "post.html" %}
{% block body %}
{% filter markdown %}
<img class="featured 2x" src="{% static '/images/typography-and-information-design-assets/AdvancedType_Page_13.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/typography-and-information-design-assets/AdvancedType_Page_26.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/typography-and-information-design-assets/AdvancedType_Page_29.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/typography-and-information-design-assets/AdvancedType_Page_30.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/typography-and-information-design-assets/AdvancedType_Page_32.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/typography-and-information-design-assets/AdvancedType_Page_38.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/typography-and-information-design-assets/AdvancedType_Page_43.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/typography-and-information-design-assets/AdvancedType_Page_48.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/typography-and-information-design-assets/AdvancedType_Page_50.jpg' %}"/>

{% endfilter %}
{% endblock body %}