/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* global */

:root {
  /* variables */
  --base-font: "Libre Baskerville", serif;
  --heading-font: Roboto, sans-serif;

  /* COLORS */
  --dark-gray: #333;
  --gray: #ccc;
  --medium-light-gray: #eee;
  --light-gray: #f7f7f7;
  --red: rgb(211, 74, 74);

  /* STYLE VARIABLES */
  --link-color: var(--red);

  --shadow: 0 5px 30px -5px rgba(103, 101, 88, 0.25);

  /* for dedugging layout */
  /* --outline: 1px solid red; */
  --outline: none;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--red);
}

::selection {
  color: white;
  background: var(--red);
}

/***************************************************
TYPOGRAPHY
***************************************************/
html {
  font-size: 24px;
  color: var(--dark-gray);
}
@media (max-width: 600px) {
  html {
    font-size: 18px;
  }
}

body {
  line-height: 1.5;
  font-size: 1rem;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 900;
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 3rem;
  position: relative;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 900;
}

h2 {
  word-spacing: unset;
  font-size: 1.2rem;
  line-height: 1;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

h3,
h4,
h5,
h6 {
  font-size: 1.8rem;
  margin-bottom: 1em;
}

@media (max-width: 780px) {
  h1 {
    font-size: 10vw;
    /* margin: 6vw; */
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 1.2rem;
  }
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.2rem;
  }
  h1 {
    margin-top: 1.5em;
  }
}

p {
  line-height: 1.8;
  margin-bottom: 1em;
  font-family: var(--base-font);
  font-size: 1rem;
  max-width: 55ch;
}

p a {
  position: relative;
  display: inline-block;
  outline: none;
  vertical-align: bottom;
  text-decoration: none;
  color: var(--link-color);
  overflow: hidden;
}
p a::before,
p a::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
p a::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 74, 74, 0.2);
  content: "";
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: translateY(95%);
  transform: translateY(95%);
}
p a:hover::before,
p a:focus::before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  background-color: rgba(211, 74, 74, 0.2);
}

.hire-link {
  position: relative;
  display: inline-block;
  background: var(--link-color);
  color: white;
  font-weight: 400;
  padding: 0.25em 0.5em;
  position: relative;
  left: -0.5em;
  transform: rotate(-5deg);
  margin-bottom: 2em;
  transition: all 250ms ease;
}

a.hire-link:hover,
a.hire-link:focus {
  transform: rotate(0);
  background: var(--dark-gray);
}

@media (max-width: 780px) {
  .hire-link {
    transform: rotate(0deg);
  }
}
@media (max-width: 600px) {
  h1 {
    margin-top: 0;
  }
}

.color-dot {
  color: var(--red);
}

/***************************************************
LAYOUT
***************************************************/
html {
  background: white;
}

/* page layout styles */
body {
  border-bottom: 0;
  font-family: var(--base-font);
}

@media (max-width: 600px) {
  body {
    border: 0px solid white;
  }
}

main {
  padding: 0 1rem 1rem;
  min-height: 75vh;
  margin: 0 auto;
  outline: var(--outline);
  max-width: 1200px;
}

.about,
.resume,
.contact,
.porfolio-page {
  /* outline: 1px solid red; */
  /* max-width: 710px; */
  /* margin: 4rem auto; */
}

.portfolio {
  margin: 0 auto 0;
}

.portfolio-page img {
  opacity: 0.5;
}

/***************************************************
COMPONENTS
***************************************************/

/* component: button */
.button--link {
  background: white;
  padding: 1rem;
  text-decoration: none;
  border: 1px solid var(--gray);
  font-family: var(--heading-font);
  color: var(--dark-gray);
  transition: all 250ms ease;
  display: inline-block;
}

.button--link:hover,
.button--link:focus {
  background: var(--red);
  color: white;
  border-color: currentColor;
  transition: all 250ms ease;
}

/* component: header */
.site-header {
  padding: 0;
  display: flex;
  background: var(--light-gray);
  background: white;
  align-items: baseline;
  margin-bottom: 100px;
  outline: var(--outline);
  border-bottom: 2px solid var(--medium-light-gray);
}

.site-header--logo {
  font-family: var(--heading-font);
  font-weight: 900;
  flex: 1;
  font-size: 1rem;
  line-height: 1;
  padding: 1rem;
}

.site-nav {
  flex: 0 0 auto;
  justify-content: center;
  font-family: var(--heading-font);
  font-size: 1rem;
}

.site-nav--list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.site-nav--item {
  flex: 0 0 auto;
  text-align: center;
  position: relative;
  margin: 0 1rem;
}

.site-nav--item a {
  width: 100%;
  color: var(--link-color);
  padding: 1rem 0;
  text-decoration: none;
  display: inline-block;
  /* background: transparent; */
  transition: background 500ms ease;
  z-index: 2;
}

.site-nav--item a:hover,
.site-nav--item a:focus {
}

.site-nav--item__active a {
  z-index: 10;
  animation: active-nav-item 250ms 0ms ease-in-out both;
}

.site-nav--item__active:after {
  content: "";
  display: block;
  height: 4px;
  background: var(--link-color);
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center center;
  animation: strike 250ms 250ms ease-in-out both;
  transition: transform 250ms ease-in-out;
}

@keyframes strike {
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes active-nav-item {
  to {
    color: var(--dark-gray);
  }
}

.site-nav--item:hover.site-nav--item__active:after {
  opacity: 0.4;
}

.site-nav--item__active a:hover,
.site-nav--item__active a:focus {
  /* background: var(--light-gray);
	transition: none; */
}

@media (max-width: 740px) {
  .site-header--logo {
    font-size: 4vw;
  }

  .site-nav--item a {
  }
}

@media (max-width: 600px) {
  .site-header {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 50px;
  }

  .site-header--logo {
    font-size: 10vw;
    margin: 1.5rem 0 0;
    text-align: center;
  }

  .site-nav--list {
    margin: 0 1rem;
  }

  .site-nav--item {
    margin: 0;
  }

  .site-nav--item a {
  }
}

/* component: global footer */
.global-footer {
  background: var(--link-color);
  padding: 1rem;
  margin-top: 5rem;
}

/* component: footer stamp */
.footer-stamp {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem 0 1rem;
}

.footer-stamp--stars {
  height: 50px;
  width: 50px;
  margin: 0 auto 2rem;
  fill: var(--medium-light-gray);
}

.footer-stamp--copyright {
  color: var(--medium-light-gray);
  font-family: var(--heading-font);
  font-size: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5ch;
}

.porfolio-page img {
  width: 100%;
  border: 0.5rem solid white;
  margin: 0 0 2rem;
  box-shadow: var(--shadow);
}

/* component: resume section */
.resume h2 {
  position: sticky;
  top: -1px;
  padding: 1rem 0;
  background: white;
  border-bottom: 1px solid var(--gray);
  margin-bottom: 2rem;
}

.resume-item {
  /* border: 1px solid red; */
  margin: 0 0 4rem;
}

.resume-item--body {
  display: flex;
  margin-top: 0.5rem;
}

.resume-item--meta-info {
  flex: 0 0 9rem;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  width: 100%;
}

#media-appearances .resume-item--meta-info,
#speaking-engagements .resume-item--meta-info {
  flex: 0 0 2.5rem;
}

.resume-item--company,
.resume-item--school {
  font-family: var(--heading-font);
  font-weight: 900;
  /* text-transform: uppercase; */
  font-size: 1.4rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.resume-item--role,
.resume-item--studies,
.resume-item--title {
  font-family: var(--heading-font);
  font-weight: 900;
  /* text-transform: uppercase;	 */
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.resume-item--meta-city,
.resume-item--meta-year {
  flex: 0 0 auto;
  font-family: var(--heading-font);
  font-weight: 900;
  /* text-transform: uppercase; */
  font-size: 1rem;
}

.resume-item--description {
  flex: 1 1 auto;
  width: 100%;
  margin-top: -2px;
}

@media (max-width: 600px) {
  .resume h2 {
    margin: 0 0 2rem;
  }

  .resume-item {
    margin: 1rem 0 4rem;
  }

  .resume-item--body {
    flex-direction: column;
    margin-top: 0;
  }

  .resume-item--meta-info {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;
    flex: 1 1 auto;
    margin: 0.5rem 0;
  }

  #media-appearances .resume-item--meta-info,
  #speaking-engagements .resume-item--meta-info {
    flex: 0 0 auto;
  }
}

#skills ul {
  display: flex;
  flex-wrap: wrap;
}

#skills li {
  font-size: 0.8rem;
  flex: 0 0 auto;
  text-align: center;
  margin: 0 0.75rem 0.75rem 0;
  padding: 0.5rem 0.75rem;
  background: #f1efec;
  border-radius: 70px;
  border: 1px solid var(--gray);
}

@media (max-width: 600px) {
  #skills li {
    flex: 1 0 auto;
    padding: 0.5rem;
  }
}

/* portfolio page */

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: 320px;
  grid-gap: 2rem;
}

.portfolio-item--link {
  overflow: hidden;
  text-decoration: none;
  color: var(--dark-gray);
  box-shadow: var(--shadow);
  /* border: .5rem solid white; */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  transform: scale(1);
  transition: all 500ms ease-in-out;
  perspective: 500px;
}

.portfolio-item--link:hover,
.portfolio-item--link:focus {
  transform: scale(1.05);
  transition: all 250ms ease;
  z-index: 1;
}

@media (max-width: 600px) {
  .portfolio-item--link:hover {
    transform: scale(1);
    transition: all 0 ease;
    z-index: 1;
  }
}

.portfolio-item--date {
  font-family: var(--heading-font);
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
  display: inline-block;
  line-height: 1;
  flex: 0 0 auto;
  background: white;
  color: #999;
  transition: all 1s ease;
  /* box-shadow: var(--shadow); */
}
.portfolio-item--link:hover .portfolio-item--date,
.portfolio-item--link:focus .portfolio-item--date {
  color: var(--dark-gray);
  transition: all 250ms ease;
}

.portfolio-item--heading {
  margin: 0;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  display: inline-block;
  line-height: 1;
  flex: 0 0 auto;
  align-self: center;
  background: rgba(255, 255, 255, 0.9);
  transform-origin: bottom left;
  will-change: transform;
  transform: translate3d(0px, 100%, 120px);
  transition: transform 500ms ease;
}

.portfolio-item--link:hover .portfolio-item--heading,
.portfolio-item--link:focus .portfolio-item--heading {
  transform: translate3d(0px, 0%, 0px);
  transition: transform 250ms 150ms cubic-bezier(0.02, 0.43, 0.34, 0.98);
}

.footer-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer-nav--link {
  flex: 0 0 auto;
}

.for-print-only {
  display: none;
}

.full-resume-line {
  font-family: var(--heading-font);
  padding-right: 1rem;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 3em;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media print {
  .for-print-only {
    display: initial;
  }

  a,
  p a {
    color: #333;
    max-width: unset;
  }

  p a,
  .full-resume-line a {
    border-bottom: 1px solid currentColor;
  }

  :root {
    font-size: 12px;
  }

  .hide-from-print,
  .footer-nav,
  .site-nav,
  .global-footer {
    display: none;
  }

  .site-header {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .site-header--logo {
    font-size: 2rem;
    text-align: left;
    margin: 0;
    padding: 0;
    display: inline-block;
    flex: 0 0 auto;
  }

  main {
    padding: 0;
    margin: 0;
  }

  h1 {
    display: none;
  }

  .resume {
    margin: 0;
    padding: 0;
  }

  .resume-item {
    margin: 0 0 1rem;
  }

  .resume-item--company,
  .resume-item--school,
  .resume-item--title {
    font-size: 1.2rem;
    margin: 0;
  }

  .resume-item--role,
  .resume-item--studies {
    font-size: 1.8rem;
    margin: 0 0 0.25rem;
  }

  .resume-item--body {
    margin: 0.25rem 0 0;
    flex-direction: row;
  }

  .resume-item--meta-info {
    margin: 0;
    flex: 0 0 8rem;
    flex-direction: column;
    justify-content: flex-start;
  }

  .resume-item--description {
    margin: 0;
    line-height: 1.5;
    font-size: 1rem;
  }

  #freelance-work {
    margin-top: 150px;
  }

  #skills ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 180px;
  }

  #skills li {
    font-size: 0.8rem;
    flex: 0 0 auto;
    text-align: left;
    margin: 0 0.75rem 0.25rem 0;
    padding: 0.5rem 0;
    background: #f1efec;
    border-radius: 70px;
    border: 0 solid var(--gray);
  }

  .resume h2 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  #freelance-work h2,
  #references h2 {
    margin-bottom: 1rem;
  }

  #media-appearances .resume-item--meta-info,
  #speaking-engagements .resume-item--meta-info {
    flex: 0 0 4rem;
  }
}
