/*=========================================
Reset
=========================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.group:before,
.group:after { content: ""; display: table;} 
.group:after { clear: both;}
.group { zoom: 1;}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #A8DC81;
}

::selection {
    color: white; 
    background: #A8DC81;
}

/*=========================================
General Spacing
=========================================== */
.post p,.post ul {
	max-width:600px;
	margin:0 auto;
}
.post p {
	margin-bottom:20px;
	text-align: center;
}
.post img {
	margin:10px auto 10px 0;
	position:relative;
	max-width:800px;
	width:100%;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.post img+img {
	/*margin-top: -20px;*/
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: 
	hidden; 
	max-width: 100%; 
	margin-bottom: 20px;
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}
/*=========================================
Base
=========================================== */
html,body {
	min-height:100%;
 }

body {
	font:16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#777;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	position: relative;
}

/* Link to Documentation */
a#documentation {
	position: absolute; z-index: 100;
	top: 11px; right: 10px; padding: 8px 12px;
	background: #5badf0; color: #fff;
	font-size: 13px; font-weight: bold; line-height: 1.4;
	border-radius: 3px;
}

#wrapper {
	padding:50px 40px 0px 40px;
	max-width: 880px;
	margin:0 auto;
}

#wrapper.post {
	max-width:880px;
}

#header {
	text-align:center;
	position:relative;
}

img {
	max-width:100%;
}


.group{
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 40px;
}

#thumbnails {
	margin:0 auto;
	margin-top:30px;
	text-align:center;
}

#thumbnails a {
	width:32%;
	float:left;
	position:relative;
}

#thumbnails a {
		margin-right: 2%;
		margin-top: 2%;
}



#thumbnails a:nth-child(3n) {
	margin-right: 0px;
}

#thumbnails a,#thumbnails a span,#thumbnails a img {
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}

#thumbnails a img {
	display:block;
	background:#fff;
	width:100%;
	height:auto;
	border-radius: 3px;
	border:1px solid #ddd;

}

#thumbnails a span {
	color:#999;
	display:inline-block;
	display: none;
	font-size:15px;
	font-weight:400;
	margin:20px 0;
}

#thumbnails a:hover {
	opacity:.8;
}

#thumbnails a:hover span {
	opacity:1;
	visibility:visible;
}

#footer { 
padding: 30px 0 0 0;
	margin-top: 120px; 
	margin-bottom: 50px;
	position: block;

}

#footer p {
	float: center;
}

#badge {
	position: absolute; bottom: 10px; right: 10px;
	height: 48px; width: 48px;
}


#exit-link {
	margin-top: 10px;
	margin-bottom: 10px;
}

#exit-link:hover {
	opacity: .6;
}


#d-co-exit-link {
	/*margin-top: 10px;*/
}

#d-co-exit-link:hover {
	opacity: .6;
}

/*=========================================
Contact
=========================================== */
 .email-icon{
 	width: 100px;
 	height: 100px;
 	border: 1px solid gray;
 	border-radius: 100%;
 	margin: 0px auto 10px auto;
 	background-image: 
 }



/*=========================================
Typography
=========================================== */
/*Accent color*/
a	{
	text-decoration:none; 
	color:#5694f1;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

ul 	{ margin:0; padding:0; }
li	{ list-style-type:circle; list-style-position:inside; }

/* Line Height */
.post-body, p { line-height:1.7; }

.name {
	font-weight:800;
	font-size:50px;
	color:#222;
	letter-spacing: -1px;
}

p.blurb {
	margin-top:20px;
	max-width: 600px;
	margin: 50px auto 0 auto;
	text-align: left;
}

h1 {
	display: inline-block;
	line-height:100%;
	color: #222;
	font-weight: 500;
	font-size: 19px;
	margin: 0;
	padding-bottom: 20px;
}


}

h3 {
	font-size:13px;
	font-weight:bold;
	color:#fff;
	margin-bottom:6px;
}

h4 {
	font-size: 13px;
	font-weight: bold;
	color: #666;
	margin-bottom: 6px;
}

p.small { 
	color: #bbb; 
	font-size: 14px; 
	line-height: 1.5; 
	text-align: center;
}

.download {
	text-align: center;
	float: right;
	clear: both;
	margin-top: 56px;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}

/*************************************
RESUME
**************************************/


.resume {
	margin-top: -50px;
	background-color: 

}

.resume h1 {
	font-weight: 800;
	font-size: 35px;
	border-bottom: 1px solid #222;
	margin-top: 90px;
	letter-spacing: -1px;
	display: block;
	line-height: 40px;
}

.first-line {
	overflow: auto;
	padding-top: 15px;
}

.resume .role {
	font-size: 24px;
	letter-spacing: -1px;
	font-weight: 200;
	color: #222;
	float: left;
}

.skills{
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
    height: 130px;
    margin-top: 10px;
    overflow: hidden;
}

.skills li {
	list-style-type: none;
	padding-bottom: 10px;
}

.college-list{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    height: 150px;
    margin-top: 10px;
    overflow: hidden;
}

.college-list li {
	list-style-type: none;
	padding-bottom: 15px;
	line-height: 1.4;
}
.resume .quoted-title {
	font-size: 16px;
	font-weight: 200;
	color: #222;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}

.resume .company {
	font-size: 16px;
	font-weight: 400;
	color: #777;
	float: left;
	margin: 10px 0 0 15px;
}

.resume .city {
	font-size: 16px;
	font-weight: 400;
	color: #777;
	float: left;
	margin: 10px 0 0 20px;
}

.resume .year {
	font-size: 16px;
	letter-spacing: -.5px;
	font-weight: 400;
	color: #222;
	float: right;
	margin-top: 10px;
}

.resume .description {
	margin-top: -2px;
}

.resume .description-references {
	margin-top: 20px;
}
.resume p {
	text-align: justify;
}
/*************************************
NAVIGAITON
**************************************/

nav {
  text-align:center;
  padding: 40px 0 10px;
}


nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0 0 10px 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 20px;
  color: #bbb;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color:#222;
}


/*=========================================
Post Page
=========================================== */
#header {
}

#site-nav {
	margin: 0 auto;
	display: inline-block;
}


h1.post-title{
	font-size: 40px;
	font-weight: 800;
	display: block;
	text-align: center;
	letter-spacing: -1px;
	padding:80px 0 60px 0;
	line-height: 36px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.post {
	/*margin-bottom:40px;*/
}

#post-meta {
	font-size:13px;
	font-weight:bold;
	color:#aaa;
	margin-bottom:40px;
	line-height:1.4;
	border-top:1px solid #eee;
	padding-top:40px;
	color:#444;
}

#post-meta div {
	display:inline-block;
}

#post-meta div span {
	color:#666;
	color:#333;
	color:#aaa;
	font-weight:500;
	display:block;
	margin-bottom:2px;
}

#post-meta div.date {
	float:right;
	text-align:right;
	position:relative;
	top:1px;
	font:300 20px/1.8 "Helvetica Neue",helvetica,Arial,sans-serif;
	color:#aaa;
}

#sharing {
	float:right;
	margin:-2px;
}

#sharing a {
	font-size:20px;
	font-size:23px;
	margin-left:2px;
	margin-top:4px;
	color:#d4d4d4;
	display:inline-block;
	vertical-align:middle;
}

#sharing a:hover {
	color: #444;
}

.vimeo-player {
	height: 450px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*=========================================
Post Navigation
=========================================== */
#post-nav {
	border-top:1px solid #eee;
	text-align:center;
	padding-top:20px;
	font-size:13px;
	font-weight:500;
	margin-top: 50px;
}

#post-nav-mobile {
	border-top:1px solid #eee;
	text-align:center;
	padding-top:20px;
	font-size:13px;
	font-weight:500;
	margin-top: 50px;
	display: none;
}

#post-nav span {
	-webkit-transition:all .4s cubic-bezier(.18,.84,.07,1);
	-moz-transition:all .4s cubic-bezier(.18,.84,.07,1);
	-ms-transition:all .4s cubic-bezier(.18,.84,.07,1);
	-o-transition:all .4s cubic-bezier(.18,.84,.07,1);
	transition:all .4s cubic-bezier(.18,.84,.07,1);
}

#post-nav span.prev {
	float: right;
}

#post-nav span.next {
	float: left;
}

#post-nav span.arrow {
	position:relative;
}


#post-nav span.prev .arrow {
	left: 1px;
}

#post-nav span.next .arrow {
	right:1px;
}


#post-nav span.prev:hover .arrow {
	left: 4px;
}

#post-nav span.next:hover .arrow {
	right:4px;
}



.post-footer {
	margin-top: 120px;
	padding-top: 30px;
	padding-bottom: 30px;
}

/****************************************************
Go To Top
***************************************/

#return-to-top {
    position: fixed;
    top: 20px;
    right: 10px;
    width: 130px;
    height: 30px;
    display: block;
    text-decoration: none;
    display: none;
}
#return-to-top i {
    color: #999;
    margin: 0;
    position: relative;
    font-size: 16px;
    text-align: right;
    font-weight: 800;
    vertical-align: middle;
    letter-spacing: -1px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover i {
    color: #222;
}

@media screen and (max-width: 1138px) {

#return-to-top {
	display: none;
}

#return-to-top i{
	display: none;
}

#post-nav-mobile {
	display: none;
}


}

/****************************************************
BREAK 1
*****************************************************/

@media screen and (max-width: 830px) {

/*************************************
MOBILE RESUME
**************************************/



.resume h1 {
	font-weight: 800;
	font-size: 28px;
	border-bottom: 1px solid #222;
	margin-top: 90px;
	letter-spacing: -1px;
	display: block;
	line-height: 40px;
}

.first-line {
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 5px;
}

.resume .role {
	font-size: 24px;
	letter-spacing: -1px;
	font-weight: 300;
	color: #222;
	float: left;
	display: block;
	line-height: 30px;
	padding-bottom: 10px;
}

.skills{
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
    height: 520px;
    margin-top: 10px;
    overflow: hidden;
}

.skills li {
	list-style-type: none;
	padding-bottom: 10px;
}

.college-list{
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    height: 300px;
    margin-top: 20px;
    overflow: none;
}

.college-list li {
	list-style-type: none;
	padding-bottom: 15px;
	line-height: 1.4;
}
.resume .quoted-title {
	font-size: 16px;
	font-weight: 400;
	color: ##222;
	float: left;
	margin-top: 10;
	margin-right: 10px;
	line-height: 22px;
	padding-bottom: 10px;
}

.resume .company {
	font-size: 16px;
	font-weight: 400;
	color: #777;
	float: left;
	margin-left: 0px;
	margin-top: -5px;
	color: #222;
	clear: both;
}

.resume .city {
	font-size: 16px;
	font-weight: 400;
	color: #777;
	float: left;
	margin-left: 0px;
	margin-top: -1.5px;
	color: #222;
	clear:both;
}

.resume .year {
	font-size: 16px;
	letter-spacing: -.5px;
	font-weight: 400;
	color: #222;
	float: right;
	margin-top: -2px;
	margin-left: 0px;
}

.resume .description {
	margin-top: -2px;
}

.resume .description-references {
	margin-top: 20px;
}
.resume p {
	text-align: left;
}


#quoted-year {
	line-height: 22px;
	clear: both;
	float: left;
	padding-bottom: 2px;
}


#quoted-city {
	margin-top: -10px;
}
#post-nav {
	display: none;
}
#post-nav-mobile {
	display: block;
}

#post-nav-mobile span.prev {
	float: right;
}

#post-nav-mobile span.next {
	float: left;
}

#post-nav-mobile a {
	font-size: 13px;
}

}


/****************************************************
BREAK 2
*****************************************************/


@media screen and (max-width:583px) {


#wrapper { padding:20px 20px 10px 20px; }

.name {	font-size:40px;}

.post ul {
	margin:-25px auto 0 auto;
}

h1.post-title{
	font-size: 30px;
}

p.blurb {
	margin-top:10px;
	padding-bottom: 0px;
	margin-bottom: -20px;
}

.vimeo-player {
	height: 200px;
	background-color: white;
}

.college-list{
    height: 300px;
}
/*************************************
MOBILE NAVIGAITON
**************************************/

nav a {
  font-weight: 800;
  font-size: 16px;
  padding: 10px 5px;
  line-height: 50px;
  color: #bbb;
}

nav ul {
	margin-top: -25px;
}
h1.post-title{
	margin-top: -80px;
}

#wrapper { padding: 20px 40px 0px 40px; }
h1 { font-size: 17px; }
#footer { margin-top: 40px; padding-bottom: 20px; }

.download {
	text-align: center;
	margin-top:10px;
	float: none;
	clear: both;
}

.group{
	margin: 0 auto;
	padding: 0 40px 0 40px;
}

#thumbnails {
	margin:0 auto;
	margin-top:0px;
	text-align:center;
}

#thumbnails a {
	width:48%;
	float:left;
	position:relative;
}

#thumbnails a {
		margin-right: 4%;
		margin-top: 4%;
}

#thumbnails a:nth-child(3n) {
	margin-right: 4%;
}

#thumbnails a:nth-child(2n) {
	margin-right: 0;
}


}

/****************************************************
BREAK 4
*****************************************************/

@media screen and (max-width:464px) {
#thumbnails a:nth-child(n) {
width: 100%;
max-width: 300px;
margin: 0 auto;
margin-top: 20px;
display: inline-block;
float: none;
}


a#documentation { display: none; }
#thumbnails a:first-child { margin-top: 0; }
#header { text-align: center; margin-bottom: 0; }
#wrapper { padding:20px 20px 10px 20px; }
.post { margin-bottom: 40px; }
#footer { text-align: center; padding-bottom: 15px; }

.name {
	font-size:34px; 
}

.college-list{
    height: 420px;
}

nav a {
  font-weight: 800;
  font-size: 14px;
  padding: 15px 5px;
   line-height: 50px;
  color: #bbb;
}

nav ul {
	margin-top: -25px;
}

h1.post-title{
	margin-top: -50px; 
}

.post p {
	margin-top:-10px;
}


.group{
	margin: 0 auto;
	padding: 0 20px 0 20px;
}

/*#thumbnails {
	margin:0 auto;
	text-align:center;
}*/

#thumbnails a {
	max-width:100%;
/*	float:left;
*//*	position:relative;
*/}

#thumbnails a {
		margin-right: 0;
		margin-top: 4%;
		max-width:100%;

}

#thumbnails a:nth-child(1n) {
	max-width:100%;
	margin-right: 0;
}

#thumbnails a:nth-child(3n) {
	max-width:100%;
	margin-right: 0;
}

#thumbnails a:nth-child(2n) {
	max-width:100%;
	margin-right: 0;
}

.vimeo-player {
	height: 250px;
}



}




@media screen and (max-width:374px) {


nav ul {
	margin-top: -25px;
	margin-right: 0px;
	margin-left: 0px;
}
nav a {
  font-size: 12px;
  padding: 15px 0px 0px 0px;
  color: #bbb;
}

nav li {
	padding: 0 10px 0 0;
}

nav li:last-child{
	padding: 0;
}

.name {
	font-size:28px;


}





