title: CNN Newsroom Graphics
thumbnail: /static/images/cnn-newsroom-graphics-assets/01.jpg
tags: Broadcast Design, Graphic Design
date: 1-07-2011

{% extends "post.html" %}
{% block body %}
{% filter markdown %}
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/02.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/03.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/04.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/05.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/06.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/07.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/08.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/09.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/10.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/11.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/12.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/13.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/14.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/15.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/16.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/17.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/18.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/19.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/20.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/21.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/22.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/23.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/24.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/cnn-newsroom-graphics-assets/25.jpg' %}"/>
{% endfilter %}
{% endblock body %}