title: Intuitive Voting Apps
thumbnail: /static/images/intuitive-voting-apps-assets/01.jpg
tags: User Experience Design, Design Strategy 
date: 17-11-2014

{% extends "post.html" %}
{% block body %}
{% filter markdown %}
<img class="featured 2x" src="{% static '/images/intuitive-voting-apps-assets/03.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/intuitive-voting-apps-assets/04.jpg' %}"/>
<a href='http://intuitivevoting.com/prototype.html#voterapp' target="_blank"><img id="exit-link" class="featured 2x" src="{% static '/images/intuitive-voting-apps-assets/13.jpg' %}"/></a>
<a href='http://intuitivevoting.com/prototype.html#volunteerapp' target="_blank"><img id="exit-link" class="featured 2x" src="{% static '/images/intuitive-voting-apps-assets/14.jpg' %}"/></a>
<img class="featured 2x" src="{% static '/images/intuitive-voting-apps-assets/05.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/intuitive-voting-apps-assets/06.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/intuitive-voting-apps-assets/07.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/intuitive-voting-apps-assets/08.jpg' %}"/>
<a href='http://intuitivevoting.com/' target="_blank"><img id="exit-link" class="featured 2x" src="{% static '/images/intuitive-voting-apps-assets/09.jpg' %}"/></a>
<a href='http://intuitivevoting.com/' target="_blank"><img id="exit-link" class="featured 2x" src="{% static '/images/intuitive-voting-apps-assets/10.jpg' %}"/></a>
<a href='http://intuitivevoting.com/overview.html' target="_blank"><img id="exit-link" class="featured 2x" src="{% static '/images/intuitive-voting-apps-assets/11.jpg' %}"/></a>
<a href='http://intuitivevoting.com/design.html#sketches' target="_blank"><img id="exit-link" class="featured 2x" src="{% static '/images/intuitive-voting-apps-assets/12.jpg' %}"/></a>
<a href='http://www.fastcodesign.com/3037914/an-app-to-redesign-how-we-vote' target="_blank"><img id="d-co-exit-link" class="featured 2x" src="{% static '/images/intuitive-voting-apps-assets/02.jpg' %}" /></a>


{% endfilter %}
{% endblock body %}



