title: Mobile Marketing Platform Design
thumbnail: /static/images/mobile-advertising-interaction-design-assets/01.jpg
tags: UX Design, Wireframes
date: 1-01-2015

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<a href='https://trioninteractive.com/s/video.php' target="_blank"><img class="featured 2x" src="{% static '/static/images/mobile-advertising-interaction-design-assets/09.jpg' %}"/></a>
<img class="featured 2x" src="{% static '/static/images/mobile-advertising-interaction-design-assets/08.jpg' %}"/>



{% endfilter %}
{% endblock body %}
