title: Round Trip App
thumbnail: /static/images/round-trip-travel-app-assets/01.jpg
tags: User Experience Design, Travel App, Design Strategy 
date: 17-12-2013

{% extends "post.html" %}
{% block body %}
{% filter markdown %}
<img class="featured 2x" src="{% static '/images/round-trip-travel-app-assets/02.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/round-trip-travel-app-assets/03.jpg' %}"/>
<a href='http://www.fastcodesign.com/3023466/terminal-velocity/track-every-step-of-travel-in-one-simple-app' target="_blank"><img id="exit-link"class="featured 2x" src="{% static '/images/round-trip-travel-app-assets/04.jpg' %}"/></a>


{% endfilter %}
{% endblock body %}