title: Simpeo Calculator
thumbnail:/static/images/simpeo-calc/thumb.jpg
tags: UX Design, UI Design,React, Front-end Dev
date: 1-11-2019
{% extends "post.html" %} {% block body %} {% filter markdown %}
<p>Numbers in below videos don't reflect actual pricing.</p>
<!-- Demo -->
<div class="video-wrapper">
  <iframe
    src="https://player.vimeo.com/video/312136714?muted=1&loop=1"
    width="1152"
    height="648"
    frameborder="0"
    webkitAllowFullScreen
    mozallowfullscreen
    allowFullScreen
  ></iframe>
</div>

<!-- Responsive -->
<div class="video-wrapper">
  <iframe
    src="https://player.vimeo.com/video/312136706?muted=1&loop=1"
    width="1152"
    height="648"
    frameborder="0"
    webkitAllowFullScreen
    mozallowfullscreen
    allowFullScreen
  ></iframe>
</div>



{% endfilter %} {% endblock body %}
