title: The Icecream Scoop
thumbnail: /static/images/icecream-scoop-assets/01.jpg
tags: Industrial Design, Branding
date: 04-11-2010

{% extends "post.html" %}
{% block body %}
{% filter markdown %}
<img class="featured 2x" src="{% static '/images/icecream-scoop-assets/02.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/icecream-scoop-assets/03.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/icecream-scoop-assets/04.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/icecream-scoop-assets/05.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/icecream-scoop-assets/06.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/icecream-scoop-assets/07.jpg' %}"/>

{% endfilter %}
{% endblock body %}