title: Website Wireframes
thumbnail: /static/images/bank-marketing-ux-design/01.jpg
tags: UX Design, Wireframes
date: 5-01-2016

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<img class="featured 2x" src="{% static '/images/bank-marketing-ux-design/09.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/bank-marketing-ux-design/07.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/bank-marketing-ux-design/02.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/bank-marketing-ux-design/08.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/bank-marketing-ux-design/03.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/bank-marketing-ux-design/04.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/bank-marketing-ux-design/10.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/bank-marketing-ux-design/05.jpg' %}"/>
<img class="featured 2x" src="{% static '/images/bank-marketing-ux-design/06.jpg' %}"/>


{% endfilter %}
{% endblock body %}
