{% extends "base.html" %}

{% block title %}Andrew Harvard | Contact Me{% endblock %}

{% block nav %} 
<nav class="site-nav">
  <ul class="site-nav--list">
    <li class="site-nav--item"><a href="/">About</a></li>
    <li class="site-nav--item"><a href="/portfolio.html">Portfolio</a></li>
    <li class="site-nav--item"><a href="/resume.html">Resume</a></li>
    <li class="site-nav--item site-nav--item__active"><a href="/contact.html">Contact</a></li>
  </ul>
</nav>
{% endblock nav %}


{% block content %}

<div class="contact">
  <a target="_blank" href="https://www.linkedin.com/in/aharvard" class="hire-link">I'm looking for a new job! 🔭</a>
  <h1>Contact Me</h1>

  <p> Email me: <a href="mailto:andrew.t.harvard@gmail.com">andrew.t.harvard@gmail.com</a></p>
  <p>Follow me on Twitter: <a href="https://twitter.com/aharvard" target="_blank">@aharvard</a></p>
  <p>Comment on my work: <a href="https://dribbble.com/aharvard" target="_blank">dribbble.com/aharvard</a></p>
  <p>View my pens: <a href="https://codepen.io/aharvard/" target="_blank">codepen.io/aharvard/</a></p>
</div>

{% endblock content %}

