{% extends "base.html" %}
<title>{% block title %}Andrew Harvard{% endblock %}</title>

{% block nav %}
<nav class="site-nav">
  <ul class="site-nav--list">
    <li class="site-nav--item site-nav--item__active"><a href="/">About</a></li>
    <li class="site-nav--item"><a href="/portfolio.html">Portfolio</a></li>
    <li class="site-nav--item"><a href="/resume.html">Resume</a></li>
    <li class="site-nav--item"><a href="/contact.html">Contact</a></li>
  </ul>
</nav>
{% endblock nav %} {% block content %}

<div class="about">
  <!-- <a target="_blank" href="https://www.linkedin.com/in/aharvard" class="hire-link">I'm looking for a new job! 🔭</a> -->
  <h1>Hi, I'm Andrew.</h1>

  <p>
    I work as an Interaction Design Lead on the UX team at Regions Bank.
    Currently, I’m focusing my efforts on enterprise-wide design initiatives and
    design team operations from my home office in Cookeville, TN.
  </p>

  <p>
    I bring senior-level UX/UI design direction while also executing accessible
    HTML and modern CSS. I love learning new things, and right now I’m
    practicing design team management and improving my JavaScript skills.
  </p>

  <p>
    I studied industrial design at Georgia Tech and typography at Savannah
    College of Art and Design while gaining real-world work experience at CNN
    and Turner Broadcasting. In my free time, I enjoy creative activities like
    playing guitar, sewing, and photography.
  </p>

  <p>
    View my <a href="/portfolio.html">portfolio</a> and
    <a href="/resume.html">resume</a> to learn more about my work and
    <a href="/contact.html">contact me</a> if you’d like to talk.
  </p>
</div>

{% endblock content %}
