{% extends "base.html" %}
  <title>{% block title %}Work{% endblock %}</title>
  {% block content %}
<section id="wrapper">
  <header id="header">
    <section class="name">ANDREW HARVARD</section>
          <nav>
            <ul>
              <li><a href="/">ABOUT</a></li>
              <li><a href="/portfolio.html" class="selected">PORTFOLIO</a></li>
              <li><a href="/resume.html">RESUME</a></li>
              <li><a href="/contact.html">CONTACT</a></li>
           </ul>
         </nav>
    <p class="blurb">Currently I’m designing complex financial systems for some of the nation’s largest banks and effective sales tools for companies in the pharmaceutical industry. I am not allowed share that work here, but would love to talk about it in person.</p>

  </header> <!--header-->


  
  {% block footer %}

</section> <!--wrapper-->
<section id="thumbnails" class="group">
  {% for post in posts %}
  <a href='/{{ post.path }}'>
    <div class="slideshow">
      <div class="slide active">
        <img class="2x" src="{{ post.thumbnaila }}"/>
      </div>
      
      <div class="slide">
        <img class="2x" src="{{ post.thumbnailb }}"/>
      </div>
      
      <div class="slide">
        <img class="2x" src="{{ post.thumbnailc }}"/>
      </div>
      
      <div class="slide last">
        <img class="2x" src="{{ post.thumbnaild }}"/>
      </div>
    </div>





  </a>
  {% endfor %}
</section> <!--thumbnails-->

  <footer id="footer">
    <p class="small">&#169; 2015 Andrew Harvard. All rights reserved.</p>
  </footer>
  {% endblock footer %}


{% endblock content %}
