{% extends "base.html" %}

{% block title %}Andrew Harvard | Portfolio{% endblock %}

{% block nav %} 
<nav class="site-nav">
  <ul class="site-nav--list">
    <li class="site-nav--item"><a href="/">About</a></li>
    <li class="site-nav--item site-nav--item__active"><a href="/portfolio.html">Portfolio</a></li>
    <li class="site-nav--item"><a href="/resume.html">Resume</a></li>
    <li class="site-nav--item"><a href="/contact.html">Contact</a></li>
  </ul>
</nav>
{% endblock nav %}


{% block content %}

<h1>My Portfolio</h1>

<ul class="portfolio">
  {% for post in posts %}
  <li class="portfolio-item">
    <a href='/{{ post.path }}' class="portfolio-item--link" style="background-image: url('{{ post.thumbnail }}');">
      <span class="portfolio-item--date">{{ post.date.year }}</span>
      <h2 class="portfolio-item--heading">{{ post.title }}</h2>
    </a>
  </li>
  {% endfor %}
</section> <!--thumbnails-->

{% endblock content %}