{% extends "base.html" %}

{% block title %}Andrew Harvard | Resume {% endblock %}

{% block nav %} 
<nav class="site-nav">
  <ul class="site-nav--list">
    <li class="site-nav--item"><a href="/">About</a></li>
    <li class="site-nav--item"><a href="/portfolio.html">Portfolio</a></li>
    <li class="site-nav--item site-nav--item__active"><a href="/resume.html">Resume</a></li>
    <li class="site-nav--item"><a href="/contact.html">Contact</a></li>
  </ul>
</nav>
<aside class="for-print-only">
      <span class="full-resume-line">full resume and portfolio can be view at <a href="http://www.andrewharvard.com">andrewharvard.com</a></span>
</aside>
{% endblock nav %}

{% block content %}

<div class="resume">
      
      <h1>My Resume</h1>

      <section id="employment">
            <h2>Employment</h2>
      
            <div class="resume-item">
                  <span class="resume-item--company">Regions Bank</span>
                  <h3 class="resume-item--role">Interaction Designer</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Birmingham, AL</span>
                              <span class="resume-item--meta-year">2016 – PRESENT</span>
                        </div>
                        <p class="resume-item--description">I already had nearly four years of experience serving Regions Bank as my client at Intuitive Company when I accepted my current position on the bank's customer experience and innovation team.  My role is to design experiences for the bank's customers across a variety of digital platforms, and I'm responsible for overseeing the design and development of new features on the bank's primary public-facing website.  Other tasks include managing vendor relationships, advocating for the adoption of industry best practices, and fostering a culture of enthusiasm for good design.  As a remote employee I enjoy working from my home office in Cookeville, Tennessee and regularly travel to Birmingham for team meetings.</p>
                  </div>
            </div>

            <div class="resume-item">
                  <span class="resume-item--company">Southern Company</span>
                  <h3 class="resume-item--role">Interaction Designer</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Atlanta, GA</span>
                              <span class="resume-item--meta-year">2015 – 2016</span>
                        </div>
                        <p class="resume-item--description">As an on-site contractor at Southern Company, I designed user experiences and developed responsive, enterprise-level web applications. One project involved working on an agile team to build a new version of Georgia Power’s Land Information Management System while others involved defining future features for business stakeholders, designing user interface elements, and coding CSS and HTML. I also consulted on the re-design of customer bill-pay experiences, defined front-end web development standards for the IT department, and provided design support for developers. In all of my efforts, I focused on delivering scalable, atomic designs that make enterprise-level web development efficient and enjoyable.</p>
                  </div>
            </div>

            <div class="resume-item">
                  <span class="resume-item--company">Intuitive Company</span>
                  <h3 class="resume-item--role">User Experience Designer</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Philadelphia, PA</span>
                              <span class="resume-item--meta-year">2011 – 2015</span>
                        </div>
                        <p class="resume-item--description">Intuitive Company is a research, design, and development firm specializing in user-centered and award-winning digital experiences. My primary role was to solve clients’ problems, meet their users’ needs, and ultimately deliver elegant, effective, and engaging digital designs. I improved banking systems for some of the nation’s largest financial institutions and customized sales tools for companies in the pharmaceutical industry. In other roles, I focused on public speaking, design competitions, digital prototyping, and business development. I directed design strategies and led cross-disciplinary teams. I regularly attended client meetings in Philadelphia, Atlanta, Birmingham, and Charlotte, and worked as a remote employee for the last year of my tenure.</p>
                  </div>
            </div>  
            
            <div class="resume-item hide-from-print">
                  <span class="resume-item--company">Turner Sports</span>
                  <h3 class="resume-item--role">Broadcast Design Intern</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Atlanta, GA</span>
                              <span class="resume-item--meta-year">2010 – 2011</span>
                        </div>
                        <p class="resume-item--description">While at Turner Sports, I designed print material for the internationally televised NCAA March Madness tournament and helped to create on-air graphics for NBA and MLB coverage. I also created motion graphics and edited video footage for NBA TV analyst and former Atlanta Hawks shooting guard Steve Smith. My work appeared on TBS, TNT, NBA TV, TruTV, and CBS.</p>
                  </div>
            </div>            


            <div class="resume-item hide-from-print">
                  <span class="resume-item--company">Turner Studios</span>
                  <h3 class="resume-item--role">Creative Services Intern</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Atlanta, GA</span>
                              <span class="resume-item--meta-year">2009</span>
                        </div>
                        <p class="resume-item--description">At Turner’s Creative Services and Animation department I shadowed various 2D and 3D animators and became familiar with the entertainment industry’s design and production process.</p>
                  </div>
            </div> 


            <div class="resume-item hide-from-print">
                  <span class="resume-item--company">Turner Broadcasting</span>
                  <h3 class="resume-item--role">Carpentry Intern</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Atlanta, GA</span>
                              <span class="resume-item--meta-year">2008, 2009</span>
                        </div>
                        <p class="resume-item--description">Over the course of two summer internships, I learned about technical millwork by designing, hand-building, and installing desks, cabinets, and tables for control rooms at Turner Studios and CNN.</p>
                  </div>
            </div>             

            <div class="resume-item hide-from-print">
                  <span class="resume-item--company">Georgia Institute of Technology</span>
                  <h3 class="resume-item--role">Resident Advisor</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Atlanta, GA</span>
                              <span class="resume-item--meta-year">2008</span>
                        </div>
                        <p class="resume-item--description">As an RA at Georgia Tech, I fostered community among undergraduate students by leading them in enrichment activities and guiding them to academic and personal success.</p>
                  </div>
            </div>  
      </section> 


      <section id="education">
            <h2>Education</h2>
      
            <div class="resume-item">
                  <span class="resume-item--school">Georgia Institute of Technology</span>
                  <h3 class="resume-item--studies">B.S. in Industrial Design with Honor</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Atlanta, GA</span>
                              <span class="resume-item--meta-year">2007 – 2011</span>
                        </div>
                        <p class="resume-item--description"> Awarded for Outstanding Design Performance by the School of Industrial Design • Member, Georgia Tech Visual Identity Committee • Art Director, Georgia Tech Chapter of Industrial Designers Society of America • Member, Industrial Designers Society of America • Student Leader, Industrial Designers Society of America Atlanta Design Outreach • Communications Chair, Seven Forty BCM</p>
                  </div>
            </div> 

            <div class="resume-item">
                  <span class="resume-item--school">Savannah College of Art and Design</span>
                  <h3 class="resume-item--studies">Typography & Information Design Studies</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Atlanta, GA</span>
                              <span class="resume-item--meta-year">2010 – 2011</span>
                        </div>
                        <p class="resume-item--description">Cross-Registered Courses courses in typography and information design with Barry Roseman, B.F.A., M.F.A.</p>
                  </div>
            </div> 
      </section>


      <section id="freelance-work">
            <h2>Freelance Work</h2>
            <div class="resume-item for-print-only">
                  <p>Occasionally, I consult with companies and organizations that want to create new or improve existing digital experiences. Some of my past projects have been working on websites, apps, user research, product roadmaps, and frontend development. Please visit my website —  <a href="http://www.andrewharvard.com">andrewharvard.com</a> — for a full list of past work.</p>
            </div>

            <div class="resume-item hide-from-print">
                  <span class="resume-item--company">Cohesive Whole</span>
                  <h3 class="resume-item--role">Visual Designer</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Philadelphia, PA</span>
                              <span class="resume-item--meta-year">PRESENT</span>
                        </div>
                        <p class="resume-item--description">For Cohesive Whole I'm currently executing conceptual art direction for Oakley advertising campaigns that will be implemented via retail merchandising.</p>
                  </div>
            </div>

            <div class="resume-item hide-from-print">
                  <span class="resume-item--company">Riveting Communications</span>
                  <h3 class="resume-item--role">Front End Designer & Developer</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">New York, NY</span>
                              <span class="resume-item--meta-year">2016</span>
                        </div>
                        <p class="resume-item--description">I collaborated with Meredith Broussard, Assistant Professor at NYU's Arthur L. Carter Journalism Institute, to design a web-based tool which helps data journalists utilize artificial intelligences to detect and investigate potential campaign finance fraud.</p>
                  </div>
            </div>


            <div class="resume-item hide-from-print">
                  <span class="resume-item--company">Trion Interactive</span>
                  <h3 class="resume-item--role">Visual Designer</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">New York, NY</span>
                              <span class="resume-item--meta-year">2015</span>
                        </div>
                        <p class="resume-item--description">For Trion Interactive, a mobile marketing services firm, I designed user interface components that appeared in a self-service portal allowing customers to upload and manage video content.</p>
                  </div>
            </div>


            <div class="resume-item hide-from-print">
                  <span class="resume-item--company">Blue Blaze Associates</span>
                  <h3 class="resume-item--role">User Experience Designer</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Newark, DE</span>
                              <span class="resume-item--meta-year">2014</span>
                        </div>
                        <p class="resume-item--description">Along with a team of full-time employees at Blue Blaze Associates, I helped conceptualize and design a meal-planning app for patients recovering from weight-loss surgery.</p>
                  </div>
            </div>

            <div class="resume-item hide-from-print">
                  <span class="resume-item--company">Tie Consulting</span>
                  <h3 class="resume-item--role">User Experience Designer</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Fair Haven, NJ</span>
                              <span class="resume-item--meta-year">2014</span>
                        </div>
                        <p class="resume-item--description">I designed a unique digital experience for one of Tie Consulting’s clients in the pharmaceutical industry. By creating a new module for a preexisting software platform, I provided the company’s client with a customized marketing solution.</p>
                  </div>
            </div>            

            <div class="resume-item hide-from-print">
                  <span class="resume-item--company">Curtius Technologies, Inc.</span>
                  <h3 class="resume-item--role">Graphic Designer</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Marietta, GA</span>
                              <span class="resume-item--meta-year">2011 – 2013</span>
                        </div>
                        <p class="resume-item--description">For Curtius Technologies, an equipment distributor in the envelope industry, I designed graphics to be used on trade show booths and brochures.</p>
                  </div>
            </div>    


            <div class="resume-item hide-from-print">
                  <span class="resume-item--company">United Distributors</span>
                  <h3 class="resume-item--role">Graphic Designer</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Atlanta, GA</span>
                              <span class="resume-item--meta-year">2011 – 2013</span>
                        </div>
                        <p class="resume-item--description">I designed graphics for Georgia’s largest alcohol beverage distributor that were visible on drink menus, banners, and promotional materials at various restaurants, festivals, and events across the state.</p>
                  </div>
            </div>   


            <div class="resume-item hide-from-print">
                  <span class="resume-item--company">CNN</span>
                  <h3 class="resume-item--role">Graphic Designer</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Atlanta, GA</span>
                              <span class="resume-item--meta-year">2011</span>
                        </div>
                        <p class="resume-item--description">After graduating from college, I spent the summer designing on-air graphics between the hours of 6:00 am and 2:00 pm for the live CNN Newsroom production. By working closely with producers and writers, I turned around requests for communicative infographics within one to three hours.</p>
                  </div>
            </div>   


            <div class="resume-item hide-from-print">
                  <span class="resume-item--company">Sidekick Solutions</span>
                  <h3 class="resume-item--role">Motion Designer</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Atlanta, GA</span>
                              <span class="resume-item--meta-year">2009 – 2010</span>
                        </div>
                        <p class="resume-item--description">During my time with the branding and marketing company Sidekick Solutions, I increased my proficiency in Adobe After Effects and Cinema 4D by transforming prepared static compositions into motion-graphic designs.</p>
                  </div>
            </div>  


            <div class="resume-item hide-from-print">
                  <span class="resume-item--company">Ty and Molly Capistrant</span>
                  <h3 class="resume-item--role">Graphic Designer</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Atlanta, GA</span>
                              <span class="resume-item--meta-year">2010</span>
                        </div>
                        <p class="resume-item--description">When my friends Ty and Molly got engaged, they hired me to create print material for their wedding. I used their event theme details and engagement photography to design one-of-a-kind save the date cards, invitations sets, and ceremony programs.</p>
                  </div>
            </div>  

            <div class="resume-item hide-from-print">
                  <span class="resume-item--company">Paper Tiger</span>
                  <h3 class="resume-item--role">Motion Designer</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Atlanta, GA</span>
                              <span class="resume-item--meta-year">2010</span>
                        </div>
                        <p class="resume-item--description">I created tutorial videos for Paper Tiger, an online file management company, by designing motion graphics and editing video and voice-over content.</p>
                  </div>
            </div> 

            <div class="resume-item hide-from-print">
                  <span class="resume-item--company">8ight</span>
                  <h3 class="resume-item--role">Graphic Designer</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Atlanta, GA</span>
                              <span class="resume-item--meta-year">2009 – 2010</span>
                        </div>
                        <p class="resume-item--description">The wellness company 8ight hired me to help rebrand their image. I crafted a new visual identity and applied graphics to all of the company’s product brochures and print materials.</p>
                  </div>
            </div> 


            <div class="resume-item hide-from-print">
                  <span class="resume-item--company">Winshape Camp C3</span>
                  <h3 class="resume-item--role">Graphic Designer</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-city">Atlanta, GA</span>
                              <span class="resume-item--meta-year">2009</span>
                        </div>
                        <p class="resume-item--description">I designed various images that were incorporated into Winshape Camp’s five themed stage sets. My work was viewed by 20,000 campers and parents throughout the summer.</p>
                  </div>
            </div> 
      </section>



      <section id="skills">
            <h2>Skills</h2>
                  <ul class="resume-item">
                        <li>Accessibillity</li>
                        <li>Adobe Creative Suite</li>
                        <li>Client Communication</li>
                        <li>Concept Presentation</li>
                        <li>CSS & HTML</li>
                        <li>Design Strategy</li>
                        <li>Git</li>
                        <li>Graphic Design</li>
                        <li>Industrial Design</li>
                        <li>Information Architecture</li>
                        <li>Interaction Prototyping</li>
                        <li>Motion Graphics</li>
                        <li>Photography</li>          
                        <li>Print Design</li>
                        <li>Product Ownership</li>
                        <li>Public Speaking</li>
                        <li>SASS & LESS</li>
                        <li>Sketch</li>
                        <li>Team Leading</li>
                        <li>User Experience Design</li>
                        <li>User Interface Design</li>
                        <li>Video Production</li>
                        <li>Visual Studio Code</li>
                        <li>WCAG 2.0</li>
                        <li>Woodworking</li>

                  </ul>
                  
      </section>


      <section id="media-appearances">
            <h2>Media Appearances</h2>

            <div class="resume-item">
                  <h3 class="resume-item--title">“An App To Redesign How We Vote”</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-year">2014</span>
                        </div>
                        <p class="resume-item--description">Shaunacy Ferro at FastCoDesign.com reported on Intuitive Company’s app Intuitive Voting. As one of three UX designers on the project, I collaborated with a small interdisciplinary group of coworkers to design an innovative voting system. Our work was awarded first place in the corporate category of the Human Factors and Ergonomics Society’s Voting Design Competition.</p>
                  </div>
            </div> 

            <div class="resume-item">
                  <h3 class="resume-item--title">"Traveling? Track Every Step Of Your Trip In One Simple App"</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-year">2013</span>
                        </div>
                        <p class="resume-item--description">By invitation from FastCoDesign.com, my associate Rob Tannen organized and reported on a design project for their travel series Terminal Velocity. Rob, myself, and two other Intuitive Company designers conceptualized an app that continuously consolidates and displays information that is relevant to users’ planned trips.</p>
                  </div>
            </div> 
      
      </section>

      <section id="speaking-engagements">
            <h2>Speaking Engagements</h2>


            <div class="resume-item">
                  <h3 class="resume-item--title">"Intuitive Voting - A Panel on Designing the Future of Elections"</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-year">2015</span>
                        </div>
                        <p class="resume-item--description">Panel Presentation at Philly Tech Week</p>
                  </div>
            </div>


            <div class="resume-item">
                  <h3 class="resume-item--title">"Digital Prototyping with Adobe Muse"</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-year">2015</span>
                        </div>
                        <p class="resume-item--description">Presentation at Intuitive Company's Design Talk</p>
                  </div>
            </div>    
            
            
            <div class="resume-item">
                  <h3 class="resume-item--title">"Form Follows Content: Designing for Results Across All Shapes and Sizes"</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-year">2014</span>
                        </div>
                        <p class="resume-item--description">Presentation at the Intelligent Content Conference</p>
                  </div>
            </div>  


                        
            <div class="resume-item hide-from-print">
                  <h3 class="resume-item--title">"Form Follows Content: Designing for Results Across All Shapes and Sizes"</h3>
                  <div class="resume-item--body">
                        <div class="resume-item--meta-info">
                              <span class="resume-item--meta-year">2014</span>
                        </div>
                        <p class="resume-item--description">Presentation at Intuitive Company’s Inspire Series</p>
                  </div>
            </div> 
      </section>

      <section id="references">
            <h2>References</h2>
            
            <div class="resume-item">
                  <p class="description-references">References can be made available upon request.</p>
            </div>

      </section>

</div>

<nav class="footer-nav">
      <a href="javascript:" id="return-to-top" class="footer-nav--link button--link">Back to Top</a>
</nav>



{% endblock content %}
