---
layout: baselayout.njk
title: Site Patterns
header: false
showHeaderName: true
footer: false
patterns: true
---

{% pattern "Header"%}
{% import "../_includes/partials/header.njk" as headerMacro %}
{{headerMacro.header(showHeaderName)}}
{% endpattern %}

{% pattern "Home Hero"%}
{% include "../_includes/partials/hero-home.njk" %}
{% endpattern %}

{% pattern "Hero"%}
{% import "../_includes/partials/hero.njk" as heroMacro %}
{{heroMacro.hero(heading = "Hero Heading", blurb="blurb text", topics = ["topic", "topic", "topic"])}}
{% endpattern %}

{% pattern "Colors"%}
<div class="site-container">
  <div class="page-body">
    <div class="color-swatches">
      <div class="color-swatch" style="background: var(--gray-100); color: var(--gray-900) ">--gray-100</div>
      <div class="color-swatch" style="background: var(--gray-200); color: var(--gray-900) ">--gray-200</div>
      <div class="color-swatch" style="background: var(--gray-300); color: var(--gray-900) ">--gray-300</div>
      <div class="color-swatch" style="background: var(--gray-400); color: var(--gray-900) ">--gray-400</div>
      <div class="color-swatch" style="background: var(--gray-500); color: var(--gray-900) ">--gray-500</div>
      <div class="color-swatch" style="background: var(--gray-600); color: white">--gray-600</div>
      <div class="color-swatch" style="background: var(--gray-700); color: white">--gray-700</div>
      <div class="color-swatch" style="background: var(--gray-800); color: white">--gray-800</div>
      <div class="color-swatch" style="background: var(--gray-900); color: white">--gray-900</div>
      <div class="color-swatch" style="background: var(--black); color: white">--black</div>
    </div>
  </div>
</div>
{% endpattern %}

{% pattern "Page Body & Text Styles"%}
<div class="site-container">
  <div class="page-body">
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p>The cat was chasing the <a href="#">inline link</a> walk on keyboard munch on tasty moths, so run off table persian cat jump eat fish more napping, more napping all the napping is exhausting. Roll over and sun my belly pet me pet me don't pet me but leave dead animals as gifts, yet scratch at door to be let outside, get let out then scratch at door immmediately after to be let back in my cat stared at me he was sipping his tea, too for annoy the old grumpy cat, start a fight and then retreat to wash when i lose. Chase after silly colored fish toys around the house attack dog, run away and pretend to be victim so poop on grasses, but scoot butt on the rug and be superior.</p>
    <ul>
      <li>list item</li>
      <li>list item</li>
      <li>list item</li>
    </ul>
    <p> Show belly need to check on human, have not seen in an hour might be dead oh look, human is alive, hiss at human, feed me furrier and even more furrier hairball yet this human feeds me, i should be a god. It's 3am, time to create some chaos scratch. Play with twist ties bite nose of your human so stare at guinea pigs eat plants, meow, and throw up because i ate plants or you call this cat food. Damn that dog . Tweeting a baseball licks your face catch mouse and gave it as a present but lick butt and make a weird face for hack up furballs and meow in empty rooms. Wack the mini furry mouse tweeting a baseball but love you, then bite you for scratch me there, elevator butt get my claw stuck in the dog's ear eats owners hair then claws head.</p>
    <a class="text-style-nav-link" href="/">Text Style Nav Link</a>
  </div>
</div>
{% endpattern %}

{% pattern "Post List"%}
{% import "../_includes/partials/post-list.njk" as postMacro %}
<div class="site-container">
  <div class="page-body" >
    {{postMacro.postList(postData = collections.post, numberOfPosts = 3)}}
  </div>
</div>
{% endpattern %}

{% pattern "Next/Prev Post Links"%}
{% import "../_includes/partials/next-prev-post-links.njk" as postLinksMacro %}

<div class="site-container">
  <div class="page-body" >
    {{postLinksMacro.nextPrevPostLinks(
        previousPost = {
          data: {title: "Previous Post"}, 
          url: "/"}, 
        nextPost = {
          data: {title: "Next Post"}, 
          url: "/"})
      }}
  </div>
</div>
<div class="site-container">
  <div class="page-body" >
    {{postLinksMacro.nextPrevPostLinks(

        nextPost = {
          data: {title: "Next Post"}, 
          url: "/"})
      }}

  </div>
</div>
<div class="site-container">
  <div class="page-body" >
    {{postLinksMacro.nextPrevPostLinks(
        previousPost = {
          data: {title: "Previous Post"}, 
          url: "/"})
      }}
  </div>
</div>

{% endpattern %}

{% pattern "Footer"%}
{% import "../_includes/partials/footer.njk" as footerMacro %}
{{footerMacro.footer()}}
{% endpattern %}