<article class="recent-project">
  <h2 class="recent-project__heading">
    <span class="recent-project__eyebrow">My Latest Project</span> Critique Cards</h2>
  <p>Design critiques can be challenging. Next time you're not sure how to ask for feedback or need help guiding a design review, draw a card and start a discussion!</p>
  <a href="https://critique-cards.netlify.app/" aria-label="Check out Critique Cards">Check it out!</a>
</article>