<article >
  <a class="recent-project" href="https://critique-cards.netlify.app/">
    <h2 class="recent-project__heading" aria-label="My latest project, Critque Cards">
      <span class="recent-project__eyebrow">My Latest Project</span> Critique Cards</h2>
    <p>Design critiques can be challenging. Next time you're not sure how to ask for feedback or need help guiding a design review, draw a card and start a discussion!</p>
    <p class="recent-project__cta">Check it out!</p>
  </a>
</article>