---
title: Posts
layout: baselayout.njk
showHeaderName: true

---

{% import "../_includes/partials/hero.njk" as heroMacro %}
{{heroMacro.hero(heading = title, blurb=false)}}

<div class="site-container">
  <div class="page-body" >
    {% for post in collections.post %}
      <a href="{{post.url}}">
        <h2>{{post.data.title}}</h2>
        <p>Date: {{post.date | readableDate}}</p>
        <p>{{post.data.description}}</p>
        {% for tag in post.data.tags %}
          <span >{{tag}}{{"," if tag !== post.data.tags[post.data.tags.length - 1]}}</span>
        {% endfor %}
      </a>
    {% endfor %}
  </div>
</div>