---
layout: mylayout.njk
---
<h1>Get in Touch</h1>

<form action="" name="contact" netlify>
  <label for="message">Message</label>
  <textarea is="message" name="message"></textarea>
  <input type="submit" id="submit" value="Send!">
</form>