{% macro footer() %}
  <footer class="footer">
    <div class="site-container">
      {% include "./nav.njk" %}
      <div class="footer__content">
        <p class="footer__text">This website is built with 11ty and hosted on Netlify. <br>
          {% footerCopyright %}{% endfooterCopyright %}</p>
      </div>
    </div>
  </footer>
{% endmacro %}