{% import "./hero.njk" as homeHeroMacro %}

{% set heroContent %}
<img class="hero__img--headshot"src="/assets/gta-headshot-site-hero.jpg" alt="Andrew smiling wearing an orange button-down shirt">
<div class="hero__copy">
  <h1 class="hero__heading">Hi, I'm Andrew.</h1>
  <div class="hero__blurb" title="preferred pronouns" aria-label="and my preferred pronouns are he and him">he/him</div>
</div>
{% endset %}

{{homeHeroMacro.hero(heading=false, content=heroContent, class="hero--home")}}