{% import "./hero.njk" as homeHeroMacro %}

{{homeHeroMacro.hero(
  heading="Hi, I'm Andrew...", 
  class="hero--home",
  blurb='<div title="preferred pronouns" aria-label="and my preferred pronouns are he and him">he/him blurb</div>',
  headshot='<img class="hero__img--headshot"src="/assets/gta-headshot-site-hero.jpg" alt="Andrew smiling wearing an orange button-down shirt">')}}