{% macro hero(heading = "Heading", content, class = false) %}
  <div class="hero{{" " + class if class }}">
    <div class="site-container">
      {% if heading %}
        <h1 class="hero__heading">{{heading}}</h1>
      {% endif %}
      {{content | safe}}
    </div>
  </div>
{% endmacro %}