{% macro hero(heading = "Heading", blurb = false, class = false, headshot = false, topics = false) %}
  <div class="hero{{" " + class if class }}">
    <div class="hero__background">
      <div class="site-container">
        <h1 class="hero__heading">{{heading}}</h1>
        {% if blurb %}
          <div class="hero__blurb">
            {{blurb | safe}}
          </div>
        {% endif %}
        {% if topics %}
          <div class="hero__topics">
            {% for topic in topics %}
              <span class="post__topic">{{topic}}</span>{{"," if topic !== topics[topics.length - 1]}}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>

    {% if headshot %}
      <img class="hero__img--headshot"src="/assets/gta-headshot-site-hero.jpg" alt="Andrew smiling wearing an orange button-down shirt">
    {% endif %}
  </div>
{% endmacro %}