<nav class="nav">
  <ul class="nav-list" aria-label="site navigation">
    <li class="nav-list-item">
      <a class="nav-link text-style-nav-link" href="/">Andrew Harvard</a>
    </li>
    <li class="nav-list-item">
      <a class="nav-link text-style-nav-link" href="/posts">Posts</a>
    </li>

    <li class="nav-list-item">
      <a class="nav-link text-style-nav-link" href="/patterns">Site Patterns</a>
    </li>
  </ul>
  <ul class="nav-list" aria-label="social media">
    <li class="nav-list-item">
      <a class="nav-link text-style-nav-link" href="https://twitter.com/aharvard" aria-label="Twitter">
        {% include "./icon-twitter.svg" %}
      </a>
    </li>
    <li class="nav-list-item">
      <a class="nav-link text-style-nav-link" href="https://www.linkedin.com/in/aharvard" aria-label="LinkedIn">
        {% include "./icon-linkedin.svg" %}
      </a>
    </li>
    <li class="nav-list-item">
      <a class="nav-link text-style-nav-link" href="https://github.com/aharvard/andrewharvard.com" aria-label="GitHub">
        {% include "./icon-github.svg" %}
      </a>
    </li>
  </ul>
</nav>